$color_text: #263238;
$color_back: #F5F5F5; 

body {
    font-family: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    max-width: 1340px;
    padding-left: 1%;
    padding-right: 1%;
}

.b-nav__pnl {
    padding-top: 57px;

    &__int-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
    }

    &__logo {
        max-width: 106px;
        @media (max-width: 992px) {
            width: 89px;
        }
    }

    &__list {
        width: 460px;
        padding-left: 0;
        display: flex;
        justify-content: space-between;
        margin: 0;
        align-items: center;
        @media (max-width: 992px) {
            width: 370px;
        }
        @media (max-width: 767px) {
            display: none;
        }
    }
    
    &__item {
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        list-style-type: none;
        @media (max-width: 992px) {
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
        }
        @media (max-width: 767px) {
            display: none;
        }
    }

    &__btn {
        border: 2px solid $color_text;
        border-radius: 5px;
        text-decoration: none;
        @media (max-width: 767px) {
            display: none;
        }
        &_size {
            padding: 17px 57px;
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 36px;
            @media (max-width: 992px) {
                font-size: 18px;
                line-height: 27px;
                padding: 12px 40px;
            }
        }

        &_color {
            color: $color_text;
        }
    }

    &__link {
        text-decoration: none;
        color: $color_text;
    }

    &__menu {
        display: none;
        @media (max-width: 767px) {
            width: 30px;
            display: block;
        }
        @media (max-width: 575px) {
            width: 42px;
        }
        @media (max-width: 320px) {
            width: 33px;
        }
    }

    &__hidden-m {
        background-color: white;
        border: 5px solid $color_text;
        box-shadow: 2px 3px 0 rgba(0, 0, 0, 0.301);
        display: none;
        position: absolute;
        top: 83px;
        right: 30px;
        padding: 20px 10px;
        border-radius: 15px;
        z-index: 1;
    }

    &__mItem {
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 30px;
        list-style-type: none;
        padding-top: 10px;
    }

    &__full-menu {
        display: none;
        @media (max-width: 767px) {
            display: block;
        }
    }

    &__full-menu:hover .b-nav__pnl__hidden-m {
        display: block;
    }

}

.b-main__top {
    display: flex;
    position: relative;
    padding-top: 115px;
    justify-content: space-between;
    @media (max-width: 992px) {
        padding-top: 81px;
    }
    @media (max-width: 767px) {
        padding-top: 68px;
    }
    @media (max-width: 575px) {
        flex-direction: column-reverse;
        padding-top: 0;
    }

    &__left {
        @media (max-width: 575px) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }


    &__break {
        @media (max-width: 575px) {
            display: none;
        }
    }

    &__break320 {
        display: none;
        @media (max-width: 320px) {
            display: block;
        }
    }

    &__head-img {
        display: flex;
        flex-direction: row;
    }
    &__head {
        font-weight: 600;
        font-size: 64px;
        line-height: 80px;
        white-space: nowrap;
        @media (max-width: 992px) {
            font-size: 48px;
            line-height: 64px;
        }
        @media (max-width: 767px) {
            font-size: 36px;
            line-height: 45px;
        }
        @media (max-width: 575px) {
            font-size: 34px;
            line-height: 45px;
            white-space: normal;
            text-align: center;
        }

        @media (max-width: 320px) {
            font-size: 24px;
            line-height: 36px;
            max-width: 220px;
        }
    }

    &__img {
        width: 85px;
        object-fit: contain;
        margin-top: 10%;
        @media (max-width: 992px) {
            width: 58px;
        }
        @media (max-width: 767px) {
            width: 50px;
        }
        @media (max-width: 575px) {
            display: none;
        }
    }

    &__discrpt {
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 30px;
        color: #8F95A5;
        white-space: nowrap;
        @media (max-width: 992px) {
            font-size: 20px;
            line-height: 30px;
        }
        @media (max-width: 767px) {
            font-size: 16px;
            line-height: 24px;
        }
        @media (max-width: 575px) {
            white-space: normal;
            font-size: 16px;
            line-height: 24px;
            text-align: center;
        }
        @media (max-width: 320px) {
            font-size: 14px;
            line-height: 21px;
        }

        &_loc {
            padding-top: 40px;
            padding-bottom: 61px;
            @media (max-width: 992px) {
                padding-top: 27px;
                padding-bottom: 33px;
            }
            @media (max-width: 767px) {
                padding-top: 25px;
                padding-bottom: 32px;
            }
            @media (max-width: 575px) {
                padding-top: 26px;
                margin-bottom: 37px;
            }
            @media (max-width: 320px) {
                padding-top: 20px;
                padding-bottom: 35px;
            }
        }
    }

    &__btn {
        border-radius: 5px;
        text-decoration: none;
        border-radius: 15px;
        &_size {
            padding: 32px 118px;
            font-style: normal;
            font-weight: normal;
            font-size: 36px;
            line-height: 54px;
            @media (max-width: 992px) {
                font-size: 24px;
                line-height: 36px;
                padding: 22px 79px;
            }
            @media (max-width: 767px) {
                font-size: 18px;
                line-height: 27px;
                padding: 19px 67px;
            }
            @media (max-width: 575px) {
                font-weight: 500;
                font-size: 18px;
                line-height: 27px;
                padding: 24px 99px;
            }
            @media (max-width: 320px) {
                font-size: 16px;
                line-height: 24px;
                padding: 18px 34%;
            }
        }

        &_color {
            color: white;
            background-color: $color_text;
        }
    }

    &__img-pers {
        width: 100%;
        height: auto;
    }
}

.b-main__skl {
    margin: 0;

    padding-top: 147px;

    @media (max-width: 992px) {
        padding-top: 72px;
    }
    @media (max-width: 767px) {
        padding-top: 56px;
    }
    @media (max-width: 575px) {
        padding-top: 90px;
    }
    @media (max-width: 320px) {
        padding-top: 51px;
    }

    &__grid {
        display: grid;
        column-gap: 18px;
        row-gap: 20px;
        padding-top: 96px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
        "speaking writing reading"
        "speaking listening listening";
        @media (max-width: 992px) {
            padding-top: 53px;
        }
        @media (max-width: 767px) {
            padding-top: 37px;
        }
        @media (max-width: 575px) {
            padding-top: 34px;
            grid-template-columns: repeat(2, 1fr);
            grid-template-areas:
            "speaking writing"
            "reading listening";
            column-gap: 30px;
            row-gap: 34px;
        }
        @media (max-width: 320px) {
            padding-top: 30px;
            grid-template-columns: 1fr;
            grid-template-areas:
            "speaking"
            "writing"
            "reading"
            "listening";
            row-gap: 21px;
        }
    }

    &__header {
        text-align: center;
        font-weight: 600;
        font-size: 48px;
        line-height: 80px;
        @media (max-width: 992px) {
            font-size: 36px;
        }
        @media (max-width: 767px) {
            font-size: 30px;
        }
        @media (max-width: 320px) {
            font-size: 24px;
        }
    }

    &__spk-box {
        grid-area: speaking;
        max-width: 435px;
        background-color: $color_back;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    &__wrt-box {
        grid-area: writing;
        max-width: 434px;
        background-color: $color_back;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    &__rdn-box {
        grid-area: reading;
        max-width: 435px;
        background-color: $color_back;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    &__lst-box {
        grid-area: listening;
        max-width: 885px;
        background-color: $color_back;
        display: flex;
        align-items: center;
        @media (max-width: 575px) {
            flex-direction: column-reverse;
            justify-content: space-between;
        }
    }

    &__print {
        width: 100%;
    }

    &__txt {
        padding-top: 7px ;
        padding-left: 9%;
        padding-right: 9%;

        @media (max-width: 992px) {
            padding-left: 7%;
            padding-right: 7%;
        }
        @media (max-width: 767px) {
            padding-left: 5%;
            padding-right: 5%;
        }
        @media (max-width: 575px) {
            display: flex;
            flex-direction: column;
        }
    }

    &__name {
        font-weight: 600;
        font-size: 30px;
        line-height: 80px;   
        color: $color_text; 
        
        @media (max-width: 992px) {
            font-size: 22px;
        }
        @media (max-width: 767px) {
            font-size: 20px;
        }
        @media (max-width: 575px) {
            font-size: 18px;
        }
    }

    &__discr {
        font-size: 16px;
        line-height: 24px;
        color: #8F95A5;

        @media (max-width: 992px) {
            font-size: 14px;
            line-height: 21px;
        }
        @media (max-width: 767px) {
            font-size: 13px;
            line-height: 19px;
        }
        @media (max-width: 575px) {
            font-size: 12px;
            line-height: 18px;
        }      
    }

    &__btn {
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        color: #FFFFFF;
        background: #263238;
        border-radius: 5px;
        padding: 17px 64px;
        text-decoration: none;
        display: inline-block;

        &_size {
            @media (max-width: 992px) {
                font-size: 18px;
                line-height: 27px;
                padding: 12px 40px;
            }
            @media (max-width: 767px) {
                font-size: 16px;
                line-height: 24px;
                padding: 13px 39px;
            }
            @media (max-width: 575px) {
                font-weight: 500;
                font-size: 14px;
                line-height: 21px;
                padding: 13px 28px;
            }
        }
        
        &__spk-marg {
            margin-top: 36px;
            margin-bottom: 92px;
            @media (max-width: 575px) {
                margin-bottom: 36px;
            }
        }
        &__w-r-marg {
            margin-top: 34px;
            margin-bottom: 44px;
            @media (max-width: 575px) {
                margin-bottom: 36px;
            }
        }
        &__lst-magr {
            margin-top: 25px;
            margin-bottom: 68px;
            @media (max-width: 575px) {
                margin-bottom: 36px;
            }
        }
    }

    .wrt-loc {
        position: absolute;
        right: 3%;
    }

    .loc-wrt {
        margin-top: 260px;
        @media (max-width: 992px) {
            margin-top: 70%;
        }
        @media (max-width: 575px) {
            margin-top: 100%;
        }
        @media (max-width: 320px) {
            margin-top: 70%;
        }
    }

    .sml-size {
        max-width: 290px;
        @media (max-width: 992px) {
            max-width: 213px;
        }
        @media (max-width: 767px) {
            max-width: 166px;
        }
        @media (max-width: 575px) {
            max-width: 234px;
        }
    }
    
    .biggr-size {
        max-width: 385px;
    }

    .text-mrg {
        margin-top:5px;

        @media (max-width: 992px) {
            margin-top: 0;
        }
    }

    .lst-width {
        max-width: 389px;
    }

    .lst-pd {
        padding-top: 43px;
        padding-right: 0;
        padding-left: 4%;
        @media (max-width: 992px) {
            padding-top: 6px;
        }
        @media (max-width: 767px) {
            padding-top: 5px;
        }
        @media (max-width: 575px) {
            padding-top: 0;
        }
    }

    .lst_img {
    min-width: 254px;
    object-fit: contain;
        @media (max-width: 992px) {
            min-width: 202px;
        }
        @media (max-width: 575px) {
            min-width: auto;
        }
    }
}

.b-main__abt-full {
        padding-top: 20%;
        @media (max-width: 992px) {
            padding-top: 106px;
        }
        @media (max-width: 767px) {
            padding-top: 52px;
        }
        @media (max-width: 575px) {
            padding-top: 84px;
            text-align: center;
        }
        @media (max-width: 320px) {
            padding-top: 50px;
        }

    &__abt {
        padding-top: 23px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 992px) {
            padding-top: 13px;
        }
        @media (max-width: 767px) {
            padding-top: 10px;
        }
        @media (max-width: 575px) {
            padding-top: 23px;
            flex-direction: column-reverse;
        }
    }
    
    &__head {
        font-weight: 600;
        font-size: 48px;
        line-height: 80px;

        &-min-mrg {
            margin-bottom: -9%;
            @media (max-width: 992px) {
                margin-bottom: -8%;
            }
            @media (max-width: 767px) {
                margin-bottom: -6%;
            }
        }
        @media (max-width: 992px) {
            font-size: 36px;
        }
        @media (max-width: 767px) {
            font-size: 30px;
        }
        @media (max-width: 320px) {
            font-size: 24px;
        }
    }

    &__discr {
        font-size: 20px;
        line-height: 30px;
        font-style: normal;
        font-weight: normal;
        color: #8F95A5;
        max-width: 635px;

        @media (max-width: 992px) {
            font-size: 16px;
            line-height: 24px;
        }
        @media (max-width: 767px) {
            font-size: 14px;
            line-height: 21px;
        }
        @media (max-width: 575px) {
            font-size: 14px;
            line-height: 21px;
            text-align: center;
        }
        @media (max-width: 320px) {
            font-size: 13px;
            line-height: 19px;
        }
        &_pdg {
            padding-top: 90px;
            padding-bottom: 30px;

            @media (max-width: 992px) {
                padding-top: 13px;
                padding-bottom: 20px;
            }
            @media (max-width: 767px) {
                padding-top: 10px;
                padding-bottom: 15px;
            }
        }
    }
    &__numb-bx {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 91%;
        @media (max-width: 320px) {
            flex-direction: column;
        }
    }
    &__data-item {
        font-size: 20px;
        line-height: 30px;
        color: #8F95A5;
        text-align: center;

        @media (max-width: 992px) {
            font-size: 16px;
            line-height: 24px;
        }
        @media (max-width: 767px) {
            font-size: 13px;
            line-height: 19px;
        }
        @media (max-width: 575px) {
            font-size: 14px;
            line-height: 21px;
        }
    }
    &__int-item {
        font-weight: 600;
        font-size: 48px;
        line-height: 80px;
        color: #2A3246;

        @media (max-width: 992px) {
            font-size: 30px;
            line-height: 80px;
        }
        @media (max-width: 767px) {
            font-size: 22px;
        }
        @media (max-width: 575px) {
            font-size: 24px;
        }
    }
    &__left-prt {
        @media (max-width:575px) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    &__abt-img {
        max-width: 500px;
        object-fit: contain;
        width: 50%;
        @media (max-width: 575px) {
            width: 100%;
        }
    }
}

.b-main__prc-full {
    padding-top: 229px;

    @media (max-width: 992px) {
        padding-top: 125px; 
    }
    @media (max-width: 767px) {
        padding-top: 88px; 
    }
    @media (max-width: 575px) {
        padding-top: 131px; 
    }
    @media (max-width: 320px) {
        padding-top: 84px; 
    }

    &__box-choise {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;

        &_pdng {
            padding-top: 57px;

            @media (max-width: 992px) {
                padding-top: 10px; 
            }
            @media (max-width: 767px) {
                padding-top: 26px; 
            }
            @media (max-width: 575px) {
                padding-top: 54px; 
            }
            @media (max-width: 320px) {
                padding-top: 49px; 
            }
        }

        @media (max-width: 575px) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    &__pic {
        width: 80%;
    }
    &__smlst {
        width: 100%;
    }

    &__txt-bx {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 184px;

        @media (max-width: 575px) {
            align-items: center;
        }
    }

    &__head-price {
        font-weight: 600;
        font-size: 48px;
        line-height: 80px;
        text-align: center;

        @media (max-width: 992px) {
            font-size: 36px;
        }
        @media (max-width: 767px) {
            font-size: 30px;
        }
        @media (max-width: 320px) {
            font-size: 24px;
        }
    }

    &__head-item {
        font-weight: 600;
        font-size: 30px;
        line-height: 48px;
        color: $color_text;
        @media (max-width: 992px) {
            font-size: 22px;
            line-height: 34px;
        }
        @media (max-width: 767px) {
            font-size: 20px;
            line-height: 28px;
        }
        @media (max-width: 575px) {
            font-size: 24px;
        }
        @media (max-width: 320px) {
            font-size: 18px;
        }
    }

    &__discr-item {
        font-size: 20px;
        line-height: 30px;
        color: #8F95A5;
        max-width: 483px;

        @media (max-width: 992px) {
            font-size: 16px;
            line-height: 24px;
        }
        @media (max-width: 767px) {
            font-size: 14px;
            line-height: 21px;
        }
        @media (max-width: 575px) {
            text-align: center;
        }
        @media (max-width: 320px) {
            font-size: 13px;
            line-height: 19px;
            text-align: center;
        }
    }

    &__prc-item {
        font-size: 18px;
        line-height: 27px;
        color: #546269;
        background-color: #eeee;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        &_size {
            max-width: 240px;

            @media (max-width: 992px) {
                max-width: 205px;
            }
            @media (max-width: 320px) {
                max-width: 170px;
            }
        }

        @media (max-width: 992px) {
            font-size: 16px;
            line-height: 24px;
        }
        @media (max-width: 320px) {
            font-size: 14px;
            line-height: 21px;
        }
    }

    &__inc-item {
        font-size: 30px;
        line-height: 45px;
        color: #263238;

        @media (max-width: 992px) {
            font-size: 24px;
            line-height: 36px;
        }
        @media (max-width: 767px) {
            font-size: 22px;
            line-height: 33px;
        }
        @media (max-width: 320px) {
            font-size: 18px;
            line-height: 27px;
        }
    }
}

.b-foot__top {
    display: flex;
    flex-direction: row;

    @media (max-width: 575px) {
        flex-direction: column;
    }
    &_pdng {
        padding-top: 261px;

        @media (max-width: 992px) {
            padding-top: 140px;
        }
        @media (max-width: 992px) {
            padding-top: 140px;
        }
        @media (max-width: 767px) {
            padding-top: 94px;
        }
        @media (max-width: 575px) {
            padding-top: 83px;
        }
        @media (max-width: 320px) {
            padding-top: 72px;
        }
    }

    &__pic {
        width: 36%;

        @media (max-width: 575px) {
            width: 100%;
        }
    }
    &__text {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        }
    &__head {
        font-weight: 600;
        font-size: 48px;
        line-height: 80px;

        @media (max-width: 992px) {
            font-size: 36px;
        }
        @media (max-width: 767px) {
            font-size: 30px;
        }
        @media (max-width: 575px) {
            display: none;
        }
        @media (max-width: 320px) {
            font-size: 24px;
        }

        &__hidden {
            display: none;
            @media (max-width: 575px) {
                display: block;
                padding-top: 163px;
                text-align: center;
            }
            @media (max-width: 320px) {
                display: block;
                padding-top: 72px;
            }
        }
    }
    &__discr {
        font-size: 20px;
        line-height: 30px;
        color: #8F95A5;
        max-width: 766px;

        @media (max-width: 992px) {
            font-size: 16px;
            line-height: 24px;
            padding-top: 3px;
            padding-bottom: 34px;
        }
        @media (max-width: 767px) {
            font-size: 14px;
            line-height: 21px;
            padding-bottom: 26px;
        }
        @media (max-width: 575px) {
            font-size: 16px;
            line-height: 24px;
            text-align: center;
            padding-bottom: 34px;
        }
        @media (max-width: 320px) {
            font-size: 14px;
            padding-top: 38px;
            padding-bottom: 34px;
        }
    }
    &__form {
        max-width: 800px;
        display: flex;
        flex-wrap: nowrap;

        @media (max-width: 575px) {
            justify-content: center;
        }
        @media (max-width: 320px) {
            flex-direction: column;
            align-items: center;
        }
    }
    &__inpt {
        border: 1px solid #8F95A5;
        box-sizing: border-box;
        border-radius: 10px;
        font-size: 16px;
        line-height: 24px;
        color: #8F95A5;
        
        @media (max-width: 992px) {
            font-size: 14px;
            line-height: 21px;
        }
        @media (max-width: 767px) {
            font-size: 12px;
            line-height: 18px;
        }
        @media (max-width: 575px) {
            font-size: 13px;
            line-height: 19px;
        }
        @media (max-width: 320px) {
            font-size: 12px;
            line-height: 18px;
        }
        
        &__pdng {
            width: 60%;
            padding: 26px 33px 30px;

            @media (max-width: 992px) {
                padding: 23px 38px 16px;
            }
            @media (max-width: 767px) {
                padding: 16px 24px;
            }
            @media (max-width: 575px) {
                padding: 20px 25px;
            }
            @media (max-width: 320px) {
                padding: 16px 26px;
                width: 100%;
                margin-bottom: 17px;
            }
        }
    }
    &__btn {
        text-decoration: none;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        color: #FFFFFF;
        background: $color_text;
        border-radius: 10px;

        @media (max-width: 992px) {
            font-size: 16px;
            line-height: 24px;
        }
        @media (max-width: 767px) {
            font-size: 13px;
            line-height: 19px;
        }
        @media (max-width: 575px) {
            font-size: 16px;
            line-height: 24px;
        }
        @media (max-width: 320px) {
            font-size: 14px;
            line-height: 21px;
        }
        &__pdng {
            padding: 25px 82px;

            @media (max-width: 992px) {
                padding: 21px 56px;
            }
            @media (max-width: 767px) {
                text-align: center;
                width: 30%;
            }
            /* @media (max-width: 320px) {
                font-size: 14px;
                line-height: 21px;
            } */
        }
    }

}

.b-foot__pnl {
    &__line {
        background: #C4C4C4;
        width: 100%;
        margin: 0 auto;

        @media (max-width: 440px) {
            margin-top: 57px;
            margin-bottom:26px;
        }
    }
    &__box {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 31px;
        align-items: center;

        @media (max-width: 992px) {
            margin-top: 22px;
        }
        @media (max-width: 767px) {
            margin-top: 18px;
        }
        @media (max-width: 575px) {
            margin-top: 24px;
        }
        @media (max-width: 440px) {
            margin-top: 36px;
            flex-direction: column;
        }
    }

    &__list {
    max-width: 776px;
    display: flex;
    justify-content: space-between;

    @media (max-width: 320px) {
        margin-top: 15px;
    }
    }
    &__list :not(:first-child) {
        padding-left: 5px;
        &::before {
            content: "•";
            padding-right: 3px;
        }
    }
    &__item {
        font-size: 24px;
        line-height: 36px;
        color: #8F95A5;
        display: inline;

        @media (max-width: 992px) {
            font-size: 13px;
            line-height: 19px;
        }
        @media (max-width: 575px) {
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
        }
        @media (max-width: 320px) {
            font-size: 11px;
            line-height: 16px;
        }
    }
}